
# Local development environment variables
DEBUG=true
STAGE=LOCAL

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_TEST_DB=test_db

# Timezone
TZ=Europe/Moscow
